@use "../vars" as *;

.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: calc($padding * 3);

  h2 {
    margin-bottom: calc($margin * 2);
  }

  pre {
    max-width: 600px;
    white-space: pre-wrap;
    word-break: break-word;
  }
}
